{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block body %}
    <div class="row">
        <span class="btn btn-default">
            Reception
        </span>
        <span class="btn btn-default">
           Medecin
        </span>

        <span class="btn btn-default">
           Laboratoire
        </span>
        <span class="btn btn-default">
           Infirmerie
        </span>
    </div>

    <div class="row">
        <span class="btn btn-default">
            Reception
        </span>
        <span class="btn btn-default">
           Medecin
        </span>

        <span class="btn btn-default">
           Laboratoire
        </span>
        <span class="btn btn-default">
           Infirmerie
        </span>
    </div>
{% endblock %}