{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Rapport:rapportIntervalleDates{% endblock %}

{% block body %}
<h1>Welcome to the Rapport:rapportIntervalleDates page</h1>
{% endblock %}
