{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Rapport:rapportTransactionsParSociete{% endblock %}

{% block body %}
<h1>Welcome to the Rapport:rapportTransactionsParSociete page</h1>
{% endblock %}
