{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Rapport:rapportTransactionsPatients{% endblock %}

{% block body %}
<h1>Welcome to the Rapport:rapportTransactionsPatients page</h1>
{% endblock %}
