{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}
    Les medecins
{% endblock %}
{% block menu %}
{% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
{% endblock %}
{% block body %}
    <div class="card-box">
        <table class="table table-condensed">
            {% for episode in liste %}
                {% for facture in episode.factures %}
                    {% if episode.patient.societe.id == 15 %}
                    <tr>
                        <td colspan="3">{{ facture.id }}</td>
                    </tr>

                        {% for comd in facture.commandes %}
                        {% for tar in comd.tarifs %}
                    <tr>
                        <td>{{ tar.actes.designationacte }}</td><td>{{ tar.prix }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                        {% endif %}
                {% endfor %}
            {% endfor %}
        </table>

    </div>
{% endblock %}