{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}
    Les medecins
{% endblock %}
{% block menu %}
{% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
{% endblock %}
{% block body %}
    <div class="card-box">
<table class="table table-condensed">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Postnom</th>
        <th>Patients reçus</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for user in liste %}
    <tr>
        <td>{{ user.nom }}</td>
        <td>{{ user.postnom }}</td>
        <td>{{ user.episode|length }}</td>
        <td><a class="btn-sm btn-info" href="{{ path('lescomissions_med',{'medecin':user.id }) }}"><i class="fa fa-eye"></i> </a></td>
    </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}