{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Importer les patients{% endblock %}
{% block titrepage %}Importer les patients{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuadmin.html.twig' %}
{% endblock %}
{% block body %}
<div class="card-box">
<h4>OK</h4>
    </div>
{% endblock %}
