{% extends "hostooSanteBundle::blank.html.twig" %}

{% block title %}Importer les patients{% endblock %}
{% block titrepage %}Importer les patients{% endblock %}
{% block menu %}
    {% include 'hostooUserBundle:menus:menuadmin.html.twig' %}
{% endblock %}
{% block body %}
<div class="card-box">
<form action="{{ path('importe_les_patients') }}" method="post" class="form-inline">
    <div class="form-group input-group">
    <input name="fileC" type="file" class="">
            <div class="input-group-btn">
    <button type="submit" class="btn btn-danger waves-effect">Importer</button>

    </div></div>

</form>

<h4>Dependants</h4>
    <form action="{{ path('importe_les_dependants') }}" method="post" enctype="multipart/form-data" class="form-inline">
        <div class="form-group input-group">
            <input name="fileD" type="file" class="">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-success waves-effect">Importer</button>

            </div></div>

    </form>
    </div>
{% endblock %}
