{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block titrepage %}{% endblock %}
{% block options %}{% endblock %}
{% block menu %}{% include 'hostooSanteBundle:menus:menuimg.html.twig' %}{% endblock %}
{% block body %}
    <h1>ordonnanceImg list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateordo</th>
                <th>Valider</th>
                <th>Livre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordonnanceImg in ordonnanceImgs %}
            <tr>
                <td><a href="{{ path('ordonnanceimg_show', { 'id': ordonnanceImg.id }) }}">{{ ordonnanceImg.id }}</a></td>
                <td>{% if ordonnanceImg.dateordo %}{{ ordonnanceImg.dateordo|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if ordonnanceImg.valider %}Yes{% else %}No{% endif %}</td>
                <td>{% if ordonnanceImg.livre %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordonnanceimg_show', { 'id': ordonnanceImg.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
