<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <title>HTML KickStart Elements</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />

    <!-- Bootstrap Core CSS -->
    <link href="Cerulean/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/mystyle.less" rel="stylesheet/less">


    <!-- Javascript -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/kickstart.js"></script>
    <script type="text/javascript" src="js/less.min.js"></script>
</head>
<body>
<div class="container" id="auth-form">
    <div class="container">
        <h1 class="center">HOSTOO</h1>
        {% block fos_user_content %}
        <form class="vertical container flex">

            <br>
            <!-- Text Field -->
            <label for="text1" class="inline">E-mail ou Nom d'utilisateur</label>
            <input id="text1" type="text" />
            <br>
            <label for="pass1" class="inline">Mot de passe</label>
            <input id="pass1" type="password" />
            <div class="col_6">
                <!-- Checkbox -->
                <input type="checkbox" id="check1" />
                <label for="check1" class="inline">Se souvenir de moi</label>
            </div>
            <div class="col_6 right">
                <button class="medium">Soumettre</button>
            </div>
        </form>
        {% endblock %}
        <br>
    </div>
</div>
</body>
</html>
