{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Rapport:rapportDetaillePatient{% endblock %}

{% block body %}
<h1>Welcome to the Rapport:rapportDetaillePatient page</h1>
{% endblock %}
