{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Rapport:transactionsPrivees{% endblock %}

{% block body %}
<h1>Welcome to the Rapport:transactionsPrivees page</h1>
{% endblock %}
