{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Categories:ModifieUneCategorie{% endblock %}

{% block body %}
<h1>Welcome to the Categories:ModifieUneCategorie page</h1>
{% endblock %}
