{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Cim10:lesPathologies{% endblock %}

{% block body %}
<h1>Welcome to the Cim10:lesPathologies page</h1>
    {% for path in paths %}
 {{ path.pathologie }}
{% endfor %}
{% endblock %}
