{% extends "::base.html.twig" %}

{% block title %}hostooGestionBundle:Reporting:activiteJournaliere{% endblock %}

{% block body %}
<h1>Welcome to the Reporting:activiteJournaliere page</h1>
{% endblock %}
