
    <h3>Consultation du Patient</h3>

    <form action="{{ path('hospi_consultation_new', {'id': consultation.hospitalisation.id }) }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer la consultation" class="btn btn-success"/>
    </form>

