
<form action="{{ path('hostoo_sante_fichepatient') }}" method="post">
    <div class="form-group">
    <input type="search" class="" size="20" name="motcle" >

    <input type="submit" class="btn blue" value="rechercher le patient">
        </div>
    </div>
</form>