{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block body %}
    <div class="card-box">
    <form action="{{ path('hostoo_sante_addtypeclient') }}" method="post">
        {{ form_widget(form) }}
    </form>
    {% if tcs == null %}
        <h2>Pas de liste</h2>
    {% else %}
        <table>
            <tr>
                <th>Nom</th>
            </tr>
            {% for tc in tcs %}
                <tr>
                    <th>{{ tc.nom }}</th>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}
{% endblock %}