{% extends "::base.html.twig" %}

{% block title %}hostooSanteBundle:Categories:SupprimeUneCategorie{% endblock %}

{% block body %}
<h1>Welcome to the Categories:SupprimeUneCategorie page</h1>
{% endblock %}
