{% extends 'hostooSanteBundle::blank.html.twig' %}
{% block menu %}
    {% include 'hostooSanteBundle:menus:menucaisse.html.twig' %}
{% endblock %}
{% block body %}
<div class="card-box">
    <h3>Modifier l'acte</h3>
   <form method="post" action="{{ path('facture_tarif_edit',{'fact': fact, 'id': tarif.id }) }}">
        {{ form_widget(edit_form) }}
        <input type="submit" value="Mettre à Jour" class="btn btn-warning" />
   </form>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

<script>
    $(function () {
       $('#tarif_actes').change(function () {

           alert($(this).value());
         /*  $.ajax({
               url: Routing.generate('change_tarif'),
               data: $(this).value(),
               success: function (data) {
                   $('tarif_prix').val(data);
               },
               dataType: html
           });*/
       });

    });
</script>
{% endblock %}